<ul class="collection">
  <% @places.each do |place| %>
    <li class="collection-item avatar">
      <i class="material-icons circle">location_on</i>
      <span class="title"><%= place.name %></span>
      <p><%= place.formatted_address %> <br>
         <%= place.formatted_phone_number %> <br>
         <%= place.types.map(&:titleize).join(', ') %>
      </p>
      <a href="<%= place.url %>" class="secondary-content" target="_blank"><i class="material-icons">send</i></a>
    </li>
  <% end %>
<ul>
