<p id="notice"><%= notice %></p>

<h1>Local Business Finder</h1>

<p>Enter a postcode and search radius below: </p>
<%= form_with url: businesses_list_path, method: :get, id: 'search-form', class: 'search-form' do |f| %>
  <%= f.text_field :postcode, placeholder: 'Post Code' %>
  <%= f.text_field :radius, placeholder: 'Radius (miles)' %>
  <%#= f.submit "Search <i class=\"material-icons right\">send</i>".html_safe, id: 'search-button', class: 'btn waves-effect waves-light' %>
  <%= button_tag(type: 'submit', class: "btn waves-effect waves-light", id: 'search-button') do %>
    Search<i class="material-icons right">send</i>
  <% end %>
<% end %>

<div class="spinner">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>

<div id='results-table'>

</div>
