<p id="notice"><%= notice %></p>
<h1>Searching a <%= @radius %> mile radius around <%=@postcode%></h1>
<%= link_to 'Download CSV Report', businesses_download_csv_path(format: :csv, lat: @location.lat, lng: @location.lng, rad: @radius_in_metres)%>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Types</th>
    </tr>
  </thead>
  <tbody>
    <% @places.each do |place| %>
    <tr>
      <td><%= place.name %></td>
      <td><%= place.formatted_address %></td>
      <td><%= place.formatted_phone_number %></td>
      <td><%= place.types.map(&:humanize).join(', ') %></td>
    </tr>
    <% end %>
  </tbody>
</table>
